/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color:#FAEBD7;
	-fx-font-size : 12px
}

.button{
	-fx-background-color:white
	
	}